Repository elkinuk/Elkin-Server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --di --fix

.lintstagedrc.json:

{
  "src/**/*.{js,jsx}": ["eslint --fix", "git add"],
  "**/*.json": ["prettier --write", "git add"],
  "**/*.scss": ["stylelint --di --fix", "git add"]
}

polish code
  package-lock.json
  package.json
  src/components/About/About.jsx
  src/components/CircleMenu/CircleMenuBlock/CircleMenuBlock.jsx
  src/components/CircleMenu/CircleMenuItem/CircleMenuItem.jsx
  src/components/Collapse/CollapseBlock/CollapseBlock.jsx
  src/components/Collapse/CollapseItem/CollapseItem.jsx
  src/components/Description/Description.jsx
  src/components/Description/index.js
  src/components/GreetingsBlock/Greetings/Greetings.jsx
  src/components/GreetingsBlock/Greetings/style.module.scss
  src/components/GreetingsBlock/Greetings/utils.js
  src/components/Parallax/ParallaxBlock/ParallaxBlock.jsx
  src/components/Parallax/ParallaxBlock/style.module.scss
  src/components/Parallax/ParallaxItem/ParallaxItem.jsx
  src/components/Parallax/ParallaxItem/style.module.scss
  src/components/Parallax/index.js
  src/components/Projects/Projects.jsx
  src/components/Skills/PlanetsParade/Planet/Planet.jsx
  src/components/Skills/PlanetsParade/PlanetsParade.jsx
  src/components/Skills/Skills.jsx
  src/components/base/Footer/Footer.jsx
  src/components/base/Header/Header.jsx
  src/components/shared/Article/Article.jsx
  src/components/shared/LinkSimple/LinkSimple.jsx
  src/components/shared/Logo/Logo.jsx
  src/components/shared/Navigation/Navigation.jsx
  src/components/shared/Navigation/style.module.scss
  src/components/shared/SectionWrapper/SectionWrapper.jsx
  src/components/shared/index.js
  src/utils/index.js
Due: eslint --fix, prettier --write, stylelint --di --fix

update packages
  next.config.js
  package-lock.json
  package.json
  src/server/db/projects.js
Due: eslint --fix, prettier --write

fix: upgrade @babel/runtime from 7.20.0 to 7.20.6
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade sass from 1.55.0 to 1.56.1
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade body-parser from 1.20.0 to 1.20.1
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @fortawesome/react-fontawesome from 0.1.19 to 0.2.0
  package-lock.json
  package.json
Due: prettier --write

Add linter workflow
  .github/workflows/lint.yml
  package.json
Due: prettier --write

Update README.md
  README.md
Due: none

Update readme
  README.md
Due: none

Create sonarcloud.yml
  .github/workflows/sonarcloud.yml
Due: none

update readme and sonar
  .github/workflows/sonarcloud.yml
  .sonarcloud.properties
  README.md
Due: none

fix: upgrade sass from 1.56.1 to 1.56.2
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade next from 13.0.7 to 13.1.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @babel/runtime from 7.20.6 to 7.20.7
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade axios from 1.2.1 to 1.2.2
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade body-parser from 1.20.1 to 1.20.2
  package-lock.json
  package.json
Due: prettier --write

[feat] add CV section
  .eslintrc.js
  src/components/Collapse/CollapseItem/CollapseItem.jsx
  src/components/Collapse/CollapseItem/style.module.scss
  src/components/CurriculumVitae/CurriculumVitae.jsx
  src/components/CurriculumVitae/Education/Education.jsx
  src/components/CurriculumVitae/Education/index.js
  src/components/CurriculumVitae/Experience/Experience.jsx
  src/components/CurriculumVitae/Experience/index.js
  src/components/CurriculumVitae/Experience/style.module.scss
  src/components/CurriculumVitae/Projects/Projects.jsx
  src/components/CurriculumVitae/Projects/index.js
  src/components/CurriculumVitae/index.js
  src/components/CurriculumVitae/style.module.scss
  src/components/Skills/Skills.jsx
  src/components/shared/Article/Article.jsx
  src/components/shared/Article/style.module.scss
  src/components/shared/LinkSimple/LinkSimple.jsx
  src/components/shared/SectionWrapper/SectionWrapper.jsx
  src/pages/index.jsx
  src/server/db/cv.js
  src/server/db/defaults.js
  src/server/db/projects.js
  src/server/modules/cv/routes.js
  src/server/modules/index.js
Due: eslint --fix, stylelint --di --fix

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write
